<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CSP FRONT</title>
</head>
<body>
    <nav>
        <a href="/">
            HOME
        </a>
        <br>
        <a href="/realtimeproducts">
            PRODUCTOS EN TIEMPO REAL
        </a>
    </nav>
    {{{body}}}
</body>
</html>